.about {
  margin-top: 12rem;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 12px;
  transition: 0.3s all ease;
  animation: appear 1s linear;
  animation-timeline: view();
  animation-range: entry 80%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.about:hover {
  box-shadow: rgba(50, 50, 93, 0.125) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.175) 0px 18px 36px -18px inset;
}

.header {
  padding: 1.5rem;
  font-size: 3rem;
  font-weight: 600;
}
.info {
  margin-left: 3rem;
  font-size: 2rem;
}

@media screen and (max-width: 440px) {
  .about {
    margin-top: 1rem;
    width: auto;
  }

  .header {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .info {
    font-size: 1.5rem;
    margin: 1rem 2rem;
  }
}
